body {
    background-color: #004a99;
    background-image: url("stars-bg2.png");
    background-repeat: repeat;
    background-size: auto;
    overflow: hidden;
}

.firework {
    width: 10px;
    background-color: #f1d592;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.firework::before,
.firework::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: inherit;
}

.firework::before {
    top: -5px;
}

.firework::after {
    bottom: -5px;
}

.firework span {
    width: 10px;
    height: 10px;
    background-color: #f1d592;
    position: absolute;
    bottom: 0;
    border-radius: 100%;
}

/** animation **/

.firework.animation {
    opacity: 0;
    transition: opacity 3s ease;
}

.firework span.animation-1 {
    opacity: 0;
    transition: opacity 1s ease;
}

.firework span.animation-2 {
    opacity: 0;
    transition: opacity 2s ease;
}